.inline, .block, .inblock{
    background-color: rgba(191, 201, 221, 0.568);
    width: 100px;
    height: 100px;
}

.inline{
    display: inline;
}

.block{
    display: block;
}

.inblock{
    display: inline-block;
}

.item {
    background-color: coral;
    width: 200px;
    height: 200px;
    
}

.container {
    max-width: 800px;
    background-color: cyan;
    display: flex;
    flex-wrap: wrap;
    
    

}