body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    width: 1000px;
    border: 1px solid #141414;
    
     
}
#folhaa4 {
    
}
#topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #a0522d;
    border: 1px solid #141414;
}
#topo .social-media a {
    margin-left: 15px;
}

#topo .socialmidia img {
    height: 30px;
    margin-top: 5px;
    padding-left: 20px;
    
}
#topo h1{
    color: solid rgb(245, 241, 241);
    margin-top: 5px;
}

#principal p{
    text-align: center;
    
}
.textoimg {
    display: flex;
    margin-bottom: 15px;
    margin-top: -10px;
    margin-top: 5p;
}




.organizartexto p, h1{
    text-align: left;
    margin-left: 150px;
    
}
.organizartexto h1{
    background-color: rgba(204, 204, 204, 0.959);
    width: -20%;
}
.socialmidia p{
    margin-left: -550px;
    margin-bottom: -50px;
    color: white;
    
}
#topo h2{
    color: white;
    margin-left: 150px;
}
.logo img{
    width: 150px;
    margin-left: 150px;
}


